*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  html{
    height: 100vh; 
    background-color:#8367C7;
  }
.content{
    text-align: center;
    padding-top: 10em;
    width: 70vw;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.greeting h1{
    color: #C2F8CB;
    font-size: 4rem;
    padding: 1rem;
}
.greeting p{
    color: #B3E9C7;
    padding: 1rem;
    font-size: 1.8rem;
}
.profile-img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
}
.socials ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.socials ul li{
    list-style: none;
    padding: 1rem;
    
}
.socials a {
    color: #F1BF98;
}


 